@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,body{
   min-height: 100vh;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
.carousel{
   min-height: 100vh;
  }
  .carousel-inner{
   min-height: 100vh;
  }

 .container-fluid img{
   margin-left: 100px;
   margin-right: auto;
 }
 @media(max-width: 442px){
   .container-fluid img{
      margin-left: 0px;
   }
 }
 
 .pcaatlogo img {
   width: 100px;
   margin-left: 109px;
   margin-bottom: -160px;
   margin-right: auto;
   border-radius: 50%;
}
@media(max-width: 442px){
   .pcaatlogo img {
      margin-left: auto;
      margin-right: auto;
      padding-bottom: auto;
}
}
 @media(max-width: 991px){
   .container-fluid h1{
      margin-right: 100px;
   }
 }
 @media(max-width: 442px){
   .container-fluid h1{
      margin-left: 0px;
   }
 }
 .container p i { 
   font-family: 'Arial Narrow', Arial, sans-serif;
   text-align: center;
   color: black   ;
   font-weight: bold;
   margin-left: 50px;
 }
 .container h1 p{
   font-family: 'Arial Narrow', Arial, sans-serif;
 }
 h5{
   padding: 10px;
   text-align: center;
   font-size: 50px;
   color: black;
 }
 .card-body p {
   text-align: center;
   font-weight: bold;
 }
 .datu {
   margin: 5px auto;
   width: 75%;
 }
 .datu h1 i{
   color: black;
   font-size: 40px;
   text-align: center;
 }
 .container img{
   max-width: 350px;
   float: left;
   border-radius: 10px;
   border: 3px solid white;
   margin-right: 20px;
 }

 .container-fluid h1{
   margin-right: 572px;
   font-size: 18px;
   color: black;
   text-transform: uppercase;
   font-weight: bold;
 }
.container-fluid img {
   border-radius: 50%;
 }
 .container h1 {
   text-align: right;
   font-weight: bold;
   color: black;
   font-family: 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
 }
 .container h2{
   text-align: left;
   font-weight: bold;
   color: black;
   font-family: 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
 }
 .container h3{
   text-align: left;
   font-weight: bold;
   color: black;
   font-size: 20px;
   font-family: 'Arial Narrow', Arial, sans-serif;
 }
 .container p{
   font-family: 'Arial Narrow', Arial, sans-serif;
 }
 .col-md-8 p{
   font-family: 'Arial Narrow', Arial, sans-serif;
 }
.my-container h1{
   text-align: right;
   font-weight: bold;
   font-size: 20px;
   color: black;
   font-family: 'Arial Narrow', Arial, sans-serif;
}
.my-container p{
   font-family: 'Arial Narrow', Arial, sans-serif;
}
.my-container h2{
   text-align: left;
   font-weight: bold;
   font-size: 20px;
   color: black;
   font-family: 'Arial Narrow', Arial, sans-serif;
}
.my-container h3{
   text-align: right;
   font-weight: bold;
   font-size: 20px;
   color: black;
   font-family: 'Arial Narrow', Arial, sans-serif;
}
.my-container h4{
   text-align: left;
   font-weight: bold;
   font-size: 20px;
   color: black;
   font-family: 'Arial Narrow', Arial, sans-serif;
}
.cid-sF9GNtbjGU {
   padding-top: 1rem;
   padding-bottom: 0rem;
   background-color: black;
}
section {
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
}
section, .container, .container-fluid {
   position: relative;
   word-wrap: break-word;
}

.heading h1{
   text-align: center;
   font-size: 50px;
   margin-top: 100px;
}
.navbar ul li{
   font-size: 20px;
   display: flex;
   list-style: none;
   display: inline-block;
   margin-left: 10px;
   position: relative;
}
.navbar ul li a{
   text-decoration: none;
   font-weight: bold;
   font-size: 10px;
   color: blue;
}
.navbar ul li::after{
   content: '';
   height: 1px;
   width: 0;
   background: blue;
   position: absolute;
   left: 0;
   bottom: -2px;
   transition: 0.5s;
}
.navbar ul li:hover::after{
   width: 100%;
}
.showcase-content{
   width: 100%;
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   align-items: center;
   text-align: center;
   color: #fff;
}
.container{
   padding: 30px;
   font-family: 'Arial Narrow', Arial, sans-serif;
   font-size: 16px;
   font-weight: 300;
   line-height: 24px;
   background-color: antiquewhite;
}
.container-fluid ul li a{
   font-size: 19px;
}
.container:hover{
   background-color: rgb(255, 255, 255);
   filter: grayscale(0);
}
.container p{
   text-align: justify;
   text-indent: 2em;
}
.card-body p{
   text-align: center;
}
.my-container{
   padding: 30px;
   font-family: 'Arial Narrow', Arial, sans-serif;
   font-size: 16px;
   font-weight: 300;
   line-height: 24px;
   background-color: antiquewhite;
   margin-left: 105px;
   margin-right: 105px;
}
.my-container:hover{
   background-color: rgb(255, 255, 255);
   filter: grayscale(0);
}
.my-container:hover.my-container img{
   cursor: pointer;
   transition: all 0.5s ease-in-out;
   transform: scale(1.2);
}
.my-container-fluid ul li a{
   font-size: 30px;
}
.my-container p{
   text-align: justify;
   text-indent: 2em;
}
.thumbnail{
   width: 350px;
   position: relative;
   box-shadow: 0 0 5px rgba(243, 239, 239, 0.993);
   background-color: black;
   overflow: hidden;
   border-radius: 8px;
   margin-bottom: 10px;
}
.thumbnail:before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 8px solid lightgrey;
   z-index: 2;
   overflow: hidden;
   box-sizing: border-box;
}
.thumbnail img{
   width: 100%;
   height: 150px;
   border-radius: 8px;
   transform: scale(1) rotate(0deg);
   transition: all .5 linear;
}
.thumbnail:hover img{
   transform: scale(1.1) rotate(-5deg);
}
.thumbnail.right{
   float: right;
   margin-left: 20px;
}
.thumbnail.left{
   float: left;
   margin-right: 20px;
}
@media screen and (max-width:767px){
   .thumbnail.right{
      float: none;
      margin-left: 0px;
   }
   .thumbnail.left{
      float: none;
      margin-right: 0px;
   }
   .thumbnail{
      width: 100%;
   }
}

footer{
   background-color: darkgrey;
}
.footerContainer{
   width: 100%;
   padding: 70px 30px 20px;
}
.socialIcons{
   display: flex;
text-align: center;

border-radius: 50%;

}
.socialIcons a{
   text-decoration: none;
   
   
   padding: 10px;
   margin: 0.5rem;
   border: 2px solid #6592e6;
}
.socialIcons a i{
   font-size: 32px;
   color: black;
   opacity: 0.9;
}
/* Hover Effects on Social Media Icons */
.socialIcons a:hover{
   background-color: #6592e6;
   transition: 0.5s;
}
.socialIcons i:hover{
   background-color: #6592e6;
   transition: 0.5s;
}
.footerNav{
   margin: 30px 0;
}
.footerNav ul{
   display: flex;
   justify-content: center;
   list-style-type: none;
}
.footerNav ul li a{
   color: black;
   margin: 20px;
   text-decoration: none;
   font-size: 1.5em;
   opacity: 0.7;
   transition: 0.5s;
}
.footerNav ul li a:hover{
   opacity: 1;
}
.footerBottom{
   background-color: grey;
   padding: 20px;
   text-align: center;
}
.footerBottom p{
   color: black;
}
.designer{
   opacity: 0.7;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 400;
   margin: 0px 5px;
}
@media (max-width: 700px){
   .footerNav ul{
      flex-direction: column;
   }
   .footerNav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
   }
}
.col-sm-4 div{
   padding: 50px;
}
.col-sm-4 div p{
   text-align: justify;
}
.col-sm-4 div h3{
   border-bottom: 1px solid #000;
   padding-bottom: 10px;
   margin-bottom: 30px;
}
.container h3{
   text-align: center;
}
.social ul {
   margin-left: 100px;
   position: absolute; 
   bottom: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.social ul li {
   list-style: none;
}
.social ul li img {
   width: 125px;
}

.card-block h6{
   text-align: center;
   font-size: x-large;
   color: black;
   font-weight: bold;
   font-family: 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
}
.card-block h6 p{
   font-family: 'Arial Narrow', Arial, sans-serif;
   margin-top: 50px;
}

.video-container{
   position: relative;
   padding-bottom: 50%;
   padding-top: 0px;
   height: 100%;
   overflow: hidden;
   margin-left: 113px;
   margin-right: 113px;
}
.video-container iframe, .video-container object, .video-container embed{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}
.card-container{
   text-align: center;
   margin-left: 115px;
   margin-right: 115px;
}
.carousel-inner h5{
   color: white;
   font-size: 40px;
   font-weight: bold;
   background-color: transparent;
}
.carousel-inner p{
   color: black;
   background-color: white;
   font-family: 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
   text-align: justify;
   text-indent: 2em;
}